.box-test-login{
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 3px 3px 3px #dee2e6;
    padding: 10px;
}

.box-test-login{
    width: 30rem;
    margin: auto;
}

.box-tes-login:hover {
    box-shadow: 5px 5px 5px #dee2e6;
}

.text-input {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #f8f9fa;
    box-shadow: 3px 3px 3px #e9ecef;
    padding: 5px;
}

.text-input:hover{
    box-shadow: 5px 5px 5px #e9ecef;
}

.link-text{
    text-decoration: none;
    color: #212529;
    margin: auto;
}